.services {
  height: 100%;
  background-color: linear-gradient(180deg #0c0c1d, #111132);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;

    display: flex;
    align-items: center;
    gap: 20px;

    p {
      font-weight: 200;
      font-size: 20px;
      color: gray;
      text-align: right;
    }

    hr {
      width: 500px;
      border: none;
      border-top: 0.5px solid gray;
    }
  }
  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 96px;
      font-weight: 100;
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1366px;
    margin: auto;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 50px;

      .icon {
        display: flex;
        font-size: 100px;
        text-align: center;
        color: #1f7a8c;
      }

      h2 {
        font-size: 25px;
      }

      p {
        line-height: 28px;
      }
    }
  }
}
