@import "../../app.scss";

.hero {
  height: calc(100vh - 100px);
  overflow: hidden;
  background: linear-gradient(180deg, #0c0c1d, #111132);

  position: relative;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    max-width: 1366px;

    height: 100%;
    margin: auto;

    .textContainer {
      align-self: flex-start;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 40px;

      @include mobile {
        height: 50%;
        width: 100%;
        gap: 20px;
        align-items: center;
        text-align: center;
      }

      h2 {
        font-size: 30px;
        color: #1f7a8c;
        letter-spacing: 10px;
        border-radius: 10px;
      }

      h1 {
        font-size: 88px;

        @include mobile {
          font-size: 36px;
        }
      }

      .buttons {
        display: flex;
        gap: 20px;

        button {
          display: inline-block;
          padding: 20px;
          border: 1px solid #fff;
          border-radius: 10px;
          background-color: transparent;
          color: #fff;
          font-weight: 300;
          cursor: pointer;
          z-index: 1;
        }
      }

      img {
        width: 50px;
      }
    }

    .imageContainer {
      z-index: 1;
      align-self: center;
      height: 100%;
      border-radius: 100%;
      margin-top: 15em;

      img {
        background-color: #c6daf1;
        border-bottom: none;
        border-radius: 29% 71% 72% 28% / 43% 70% 30% 57%;
        filter: grayscale(30%);
        // object-fit: cover;
      }
    }
  }

  .slidingTextContainer {
    position: absolute;
    font-size: 50vh;
    bottom: -120px;
    white-space: nowrap;
    color: #ffffff09;
    width: 58%;
    font-weight: bold;
    user-select: none;
  }
}
