.navbar {
  height: 100px;

  .wrapper {
    max-width: 1366px;
    margin: auto;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      //   font-weight: bold;

      font-size: 1.5em; /* Adjust the font size as needed */
      font-weight: bold; /* Optionally, make the text bold */
      color: #fff; /* Set the color of the text */
    }

    .socials {
      display: flex;
      gap: 90px;
      align-items: center;
      font-weight: bold;
      font-size: 17px;

      a:hover {
        color: #a5c0df;
        // font-weight: bold;
      }
    }
  }
}
