@import "../../app.scss";

.navbar {
  height: 100px;

  @include desktop {
    padding: 0 20px;
  }

  .wrapper {
    max-width: 1366px;
    margin: auto;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      font-size: 10px;
      justify-content: center;
    }

    .logo {
      font-size: 1.5em;
      font-weight: bold;
      color: #fff;

      @include tablet {
        font-size: 2em;
      }

      @include mobile {
        text-align: center;
      }
    }

    .nav-links {
      display: flex;
      gap: 90px;
      align-items: center;
      font-weight: bold;
      font-size: 18px;

      @include tablet {
        display: none;
      }

      @include mobile {
        display: none;
      }

      a:hover {
        color: #a5c0df;
      }
    }
  }
}
